.navbar, .navbar-expand-lg, .navbar-light {
    background-color:#f4f3ef;
    
    margin-left: 2%;
    
}

.navbar-brand{
    margin-left: 90%;
}

.form-control, .mr-sm-2{
    margin-left: 5rem;
    
}